.dict-frame-container {
	padding: 30px 11px 20px;
}

.source-title {
	font-weight: bold;
	position: absolute;
	top: 8px;
}

.close-x {
	color: #AAAAAA;
	cursor: pointer;
	font-size: 2.2rem;
	font-weight: bold;
	line-height: 0.5;
	position: absolute;
	right: 11px;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
	top: 8px;
}

.dict-frame {
	width: 100%;
	height: 100%;
}
